$main-font:300 16px 'Chau Philomene One', sans-serif;
$text-font: 300 16px 'PT Sans Narrow', sans-serif;
$quote:'Love Ya Like A Sister', cursive;
$border-color: #43594A;
// $border-color: #666633;
$text-color: #676767;
$text-h-color:#EAFAF8;
$h3-color:#5C5C5C;
$h12-color: #43594a;
$dots-color: #66cccc;

@import "compass/css3";

.alert{
	color:red;
}

html, body{
	// font-family: $main-font;
	// font-size: 16px;
	font:$main-font;
	text-align: center;
	color:$text-color;
	margin:0;
}

h1,h2{
	color:$h12-color;
	font-weight:300;
}

h2{
	border-top: 2px dotted rgba(67,89,74,0.2);
}

.clickable{
	font:$text-font;
}

a, .clickable{
	cursor:pointer;
	margin: 0;
	text-decoration: none;
	color:$text-color;
	border-bottom: 1px dotted $text-color;
	&:hover, &:focus{
		color:white;
		background-color: $text-color;
	}
	#projects &{
		border-bottom: none;
		& figcaption span{
			color:$text-color;
			border-bottom: 1px dotted $text-color;
		}
		&:hover, #projects &:focus{
			background-color: transparent;
			& figcaption span{
				color:white;
				background-color: $text-color;
			}
		}
	}
	#wexp > div:hover &, #education > div:hover &, #cercou > div:hover &, #contact > div:hover &{
		color:$text-h-color;
		border-color:$text-h-color;
	}

	.socials &{
		border-bottom:none;
		&:hover, &:focus{
			background-color:transparent;
			& path{
				&.twitter{
					fill:#55ACEE;
				}				
				&.github{
					fill:#000000;
				}
				&.linkedin{
					fill:#0976b4;
				}
				&.skype{
					fill:#00aff0;
				}
				&.xing{
					fill:#026466;
				}
				&.plane{
					fill:black;
				}
			}
		}
	}

	.menu &{
		border-bottom:none;
		margin: 0 2px;
		&:hover, &:focus{
			background-color:transparent;
			color:black;
		}
	}
}

// ngShow override
.ng-hide {
	display:block!important;
	position:absolute;
	top:-9999px;
	left:-9999px;
}

div{
	max-width: 50%;
	margin: 0 auto 0 auto;
	@media only screen and (min-device-width : 320px) and (max-device-width : 568px)
	{
		max-width:80%;
	}
}

.portrait{
	background-image: url('../img/profile_pic.png');
	border: 2px solid $border-color;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 50% 20%;
	width: 100px;
	height:100px;
	margin: 0 auto 0 auto;
}

h1{
	font-size:2em;
	margin-top: .2em;
	margin-bottom: 0px;
}

.quote {
	font-size: 10em;
	font-family: $quote;
}

.delimeter{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.circle{
	display: inline-block;
	margin: 0 0.1em 0 0.1em;
	width: .5em;
	height:.5em;
	border:2px solid $border-color;
	border-radius: 50%;
	background-color: gray;
	margin-top:0.3em; 
}

nav{
	position: fixed;
	top:0px;
	left:0px;
	width:78%;
	padding-left:11%;
	padding-right:11%;
	padding-top:5px;
	padding-bottom:5px;
	background-color:transparent;
	@include transition(background-color .5s, box-shadow .5s);
	// transition: background-color 0.5s, box-shadow 0.5s;
	@media only screen and (max-device-width : 700px){
		width:100%;
		padding-left:0%;
		padding-right:0%;
	}
	&.pinned{
		background-color:rgba(250,250,250,1);
		box-shadow: 2px 0 4px black;
	}
	span{
		display:inline-block;
		width:26%;
		text-align:center;
		&.name{
			color:$h12-color;
		}
		&.hideName{
			color:transparent;
		}
		&.socials{
			text-align:left;
			svg{
				margin: 0 2px;
			}
			path{
				fill:#676767;
			}
		}
		&.menu{
			text-align:right;
			mark{
				background-color:transparent;
				color:$text-color;
				cursor:pointer;
				&.sk{
					color:#00286C;
				}
				&.de{
					color:#D52B1E;
				}
				&.en{
					color:#002664;
				}
				&:hover, &:focus{
					color:black;
				}
			}
		}
	}
}

main{
	padding-top:30px;
}

#projects{
	& figure{
		display: inline-block;
		max-width: 120px;
		margin: 0;
	}

	& img{
		border: 2px solid $border-color;
		border-radius: 50%;
		width: 100px;
		height: 100px;
	}
}

#tskills{
		
	& .column{
		width:300px;
	}

	& span{
		display: inline-block;
	}

	& span.skill{
		float:right;
		margin-right:10px;
		height:25px;

		@media only screen and (min-device-width : 320px) and (max-device-width : 568px)
		{
			float:none;
			margin-left:auto;
			margin-right:auto;
			padding-right:20px;
		}

		&.left{
			float: left;
			margin-left: 10px;
			@media only screen and (min-device-width : 320px) and (max-device-width : 568px)
			{
				float:none;
				margin-left:auto;
			}
		}
		&:hover{
			span.name{
				color:$border-color;
				text-shadow: 1px 0 2px rgba(67,89,74,0.5);
				font-size:1.1em;
			}
			span.bar{
				border-color:$border-color;
				&.full{
					background: $border-color;
				}
			}
			span.bar{
				box-shadow: 1px 0 2px rgba(67,89,74,0.5);
			}
		}
	}
	& span.name{
		margin-right:10px;
		width:80px;
		text-align: right;
	}
	& span.bar{
		margin-left: 3px;
		height: 5px;
		width:20px;
		border:2px solid $border-color;
		border-radius: 20% 30% 10% 40%;
		box-shadow: 10px;
		background: #e5e5e5;
		&.full{
			background: gray;
		}
	}
}

#wexp, #education, #cercou, #contact{
	width:100%;
	& > div:hover{
		background-color:#8CA693;
		// color:#544E49;
		color:#EAFAF8;
		h2,h3, mark{
			color:#EAFAF8;
		}
	}
	& div {
		max-width: 100%;
		& div{
			max-width: 100%;
			font:$text-font;
			text-align: center;
			margin-bottom: 0.2em;
			&.tleft{
				width:50%;
				text-align: left;
				@media only screen and (min-device-width : 320px) and (max-device-width : 568px)
				{
					width:90%;
					text-align: center;
				}		
			}
		}
	}
	& > div {
		padding-bottom:0.2em;
		@media only screen and (min-device-width : 320px) and (max-device-width : 568px)
		{
			padding:0 1em;
		}
	}
	& h3{
		color: $h3-color;
		margin: 0.8em 0 0.5em 0;
		& mark {
			font: $text-font;
			font-size: 0.9em;
			background-color: transparent;
			color: $text-color;
			@media only screen and (min-device-width : 320px) and (max-device-width : 568px)
			{
				display:block;
			}
		}
	}
}

#languages{
	figure{
		display: inline-block;
		max-width:100px;
		margin:0 20px;
	}
	text{
		font:$main-font;
		font-size:30px;
		letter-spacing:2px;
		word-spacing:0px;
		fill:$text-color;
		fill-opacity:1;
		stroke:none;		
	}
	.circle_line{
	    fill:none;
	    stroke:$border-color;
	    stroke-width:5;
	    stroke-dasharray:300%;
	    stroke-linecap:round;
	    stroke-dashoffset:300%;
	    @include transition(stroke-dashoffset 3s);
	    &.de{
	    	stroke-dashoffset:120%;
	    }
	    &.en{
	    	stroke-dashoffset:60%;	
	    }
	    &.sk{
	    	stroke-dashoffset:0%;	
	    }
	    &.cz{
	    	stroke-dashoffset:60%;	
	    }
	}
	.circle_line2{
	    fill:none;
	    stroke-opacity:0.5;
	    stroke:$text-color;
	    stroke-blur:2;
	    stroke-width:5;
	    stroke-dasharray:300%;
	    stroke-linecap:round;
	}
	// fix for slovak language
	&.charfix figcaption{
		font:$text-font;
		font-weight:700;
	}
}

#contact{
	h2{
		margin-bottom:0.4em;
	}	
	div{
		font:$text-font;
	}
	strong{
		font:$main-font;
	}
}

footer{
	div{
		height:2em;
		width:100%;
		max-width:none;
		margin:0;
		margin-top:2em;
		padding-top:0.5em;
		font:$text-font;
		background-color:rgba(67,89,74,0.2);
	}
}